body {
  height: 100%;
  font-family: 'Work Sans', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.numbers-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 650px;
  margin-bottom: 35px;
}

.numbers-texts {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #d4c5c5;
  height: 15px;
  margin: 5px 0 0 5px;
  flex-basis: 5%;
  background: #ececec;
  font-weight: bold;
  color: #364048;
  cursor: pointer;
  user-select: none;
}

.number:hover {
  background: #dedddd;
}

.selected {
  background: #a5ff9f;
}

.selected:hover {
  background: #80fb6a;
}

.button {
  width: 100px;
  padding: 10px;
  background: white;
  color: #5555dc;
  border: 1px solid #5555dc;
  border-radius: 0px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
}

.button:hover {
  background: #f9fcfd;
}

.button:disabled {
  cursor: not-allowed;
  background: #ffffff;
  border: 1px solid #a0a0a0;
  color: #a0a0a0;
  opacity: 0.6;
}

.lottery-results {
  display: none;
  margin-top: 20px;
}

.lottery-numbers {
  display: flex;
  width: 500px;
  justify-content: space-between;
  margin-top: 20px;
  padding: 15px;
  border: 5px solid #ffc875;
  border-radius: 30px;
}

.lottery-number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #d4d4d4;
}
